$background-color-1:#111344;
$background-color-2:#38040E;
$background-color-3:#254D32;
$text-color-1:#00CFFF;
$text-color-2:#FFBFB7;
$text-color-3:#F6F5AE;
$font-stack: Arial, serif;

body {
    margin: 0;
    background-color: $background-color-1;
    color: $text-color-1;
}

#heading, #job-title {
    padding: 50px;
}